Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries for Data Science
* Practice numeric caluculation using Python

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Apache Spark

| Data Science Tools | 
| -------------|
| Jupyter Notebooks|
| Zeppelin Notebooks |
| R Studioâ€™s  |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [13]:
200 / 60

3.3333333333333335

## Author

Alex Jone